body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    /* Default width is one-fifth of the container width */
    flex: 1;
    max-width: 20%;
    background-color: #007BFF;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: background-color 0.3s ease;
    overflow: hidden;
}

.menu {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu li {
    margin-bottom: 10px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: opacity 0.2s ease;
}

.menu a:hover {
    opacity: 0.8;
}

.scroll-well {
    flex: 1;
    overflow-y: auto;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}

.main {
    flex: 3;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    position: relative;
}

.chat-header {
    background: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
    background-size: 1000% 100%;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    animation: vanishingRainbow 10s linear infinite;
}

@keyframes vanishingRainbow {
    0%, 100% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}

.chat-log {
    flex: 1;
    overflow-y: scroll;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.chat-input {
    display: flex;
    align-items: center;
    /* Updated position properties to place it at the bottom right */
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 55%;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.chat-input input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.chat-input button {
    margin-left: 10px;
    padding: 8px 15px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.chat-input button:hover {
    background-color: #0056b3;
}

/* Improved Logo */
.logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    background-color: #0056b3;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.logo-text {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin-left: 10px;
}
